.box {
  display: block;
  width: 18%;
  height: 285px;
  margin: 100px auto 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.639);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.458);
  color: white;
}

span {
  cursor: pointer;
  color: blue;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
}

.registration-form {
  display: none;
  width: 18%;
  height: 385px;
  margin: 100px auto 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.639);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.458);
  color: white;
}

.registration-form .title {
  text-align: center;
  margin-bottom: 20px;
}
.registration-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  background-image: url("../assets/img/background.jpeg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

h3.error {
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 16px;
  text-align: center;
}
